<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Projeto Aula</title>
  <link href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" rel="stylesheet">
</head>
<body>

  <div class="header">
    Projeto em Sala
  </div>

  <ion-content [fullscreen]="true">
    <div class="login-container">
      <!-- Logo no topo -->
      <div class="logo-container">
        <img src="/assets/icon/favicon.png" alt="Logo">
      </div>

      <h2 class="text-center mb-4">Login</h2>
      <form (submit)="autenticarUsuario()">
        <ion-item>
          <ion-input label="Usuário" type="text" name="usuario" [(ngModel)]="instancia.username" placeholder="Digite"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Senha" type="password" name="senha" [(ngModel)]="instancia.password" placeholder="Digite"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="autenticarUsuario()">
          Autenticar
        </ion-button>
      </form>
    </div>
  </ion-content>

  <script src="https://cdn.jsdelivr.net/npm/@ionic/core@5.7.4/dist/ionic/ionic.bundle.js"></script>
</body>
</html>
